/xslt/output/*.xml

/analytics/.ipynb_checkpoints/
/analytics/__pycache__/
/analytics/.Rhistory
/analytics/ssis/__pycache__/
/analytics/ssis/.Rhistory
/analytics/word_tree/.ipynb_checkpoints/

/xml_etl/.ipynb_checkpoints/
/dashboard/dashboard_clients/.Rhistory
/output/

/.idea/
/.vs/
/.Rhistory